*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Cubert/.metadata/.lock
Cubert/.metadata/.log
Cubert/.metadata/.mylyn/repositories.xml.zip
Cubert/.metadata/.plugins/org.eclipse.cdt.core/.log
Cubert/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Cubert/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.syncinfo.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/org.eclipse.egit.core/GitProjectData.properties
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.syncinfo.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/org.eclipse.egit.core/GitProjectData.properties
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Cubert/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Cubert/.metadata/.plugins/org.eclipse.core.resources/0.snap
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1067844104.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1091915153.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1100034430.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1227900102.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/159265263.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1674197738.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1771911503.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1857899436.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1976318416.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1985382377.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2245125605.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2260961567.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2307518581.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/239560080.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2402860540.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/262322381.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2947788220.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3041506304.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/315585559.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3158068371.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3241466435.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3414388786.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3501601504.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3648534690.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3818029737.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3864195121.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3952141166.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4009088449.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4112017558.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4232631194.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4292095467.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/904440426.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Cubert/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Cubert/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Cubert/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Cubert/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Cubert/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Cubert/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Cubert/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
Cubert/.metadata/.plugins/org.eclipse.rse.core/.log
Cubert/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Cubert/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/FP.local.files_0/node.properties
Cubert/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/H.local_16/node.properties
Cubert/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/node.properties
Cubert/.metadata/.plugins/org.eclipse.rse.ui/.log
Cubert/.metadata/.plugins/org.eclipse.team.cvs.core/.running
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Cubert/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Cubert/.metadata/version.ini
Cubert/cubertNXT/.metadata/.lock
Cubert/cubertNXT/.metadata/.log
Cubert/cubertNXT/.metadata/.mylyn/repositories.xml.zip
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.cdt.core/.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/FP.local.files_0/node.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/H.local_16/node.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/node.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.ui/.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Cubert/cubertNXT/.metadata/version.ini
Cubert/cubertNXT/.settings/org.eclipse.jdt.core.prefs
Cubert/cubertNXT/bin/.gitignore
Cubert/cubertNXT/Main.nxd
Cubert/cubertNXT/Main.nxj
Cubert/cubertPC/.settings/org.eclipse.jdt.core.prefs
Cubert/cubertPC/bin/.gitignore
Cubert/RemoteSystemsTempFiles/.project
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/19/60d2593ca6d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/23/b0422f48a5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/26/80d7e1f8aad700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/3b/206570e1a6d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/4/e032b2cea8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/43/c0dd9d52a9d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/4d/60f0e49ba7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/52/c0089d03abd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/57/a0f4f538abd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/58/6011934aa7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/69/309a68b7acd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/6d/30f1882ba8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/70/100f6efaa5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/75/c043fd75a7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/76/10141f4fa5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/7a/20d94029acd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/7b/10eda5c1a5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/7b/f0e2e29ca8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/89/5008003ea6d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/89/e08c03d7a4d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/91/007fffe3a7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/92/f0775c8babd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/9a/80cead53a6d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/9e/60d568a0a8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/a4/f0d3ab57a2d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/aa/30999560a5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/ac/c0d0289fa7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/b0/4050bb2fa8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/b2/a03f6356a8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/b8/c050a9f9abd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/c0/00690fe7a5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/c0/b0f69a9fabd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/c1/7073b211a9d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/c4/a0b1f1b5acd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/c9/308bef82a5d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/cd/f08acd83acd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/ce/909e7299acd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/d0/8089e62fa9d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/d0/90e8dc3da9d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/d0/a0547e6dacd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/d1/70ac36f0a8d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/d9/20781584a6d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/d9/50ba773ba7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/e2/702caf1ca7d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/f6/c0b8eb0ba9d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/f7/b090e319a4d700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.indexes/e4/81/ea/history.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.indexes/e4/f3/history.index
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
Cubert/.metadata/.plugins/org.eclipse.debug.core/.launches/Main (1).launch
Cubert/.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
Cubert/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
Cubert/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/a3/50b3494cadd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.history/c0/40f8b44cadd700141fda978126474ab3
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.indexes/e4/81/f3/history.index
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/cubertPC/2015/3/14/refactorings.history
Cubert/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/cubertPC/2015/3/14/refactorings.index
