*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Cubert/.metadata/.lock
Cubert/.metadata/.log
Cubert/.metadata/.mylyn/repositories.xml.zip
Cubert/.metadata/.plugins/org.eclipse.cdt.core/.log
Cubert/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Cubert/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/.syncinfo.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertNXT/org.eclipse.egit.core/GitProjectData.properties
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/.syncinfo.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/cubertPC/org.eclipse.egit.core/GitProjectData.properties
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Cubert/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Cubert/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Cubert/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Cubert/.metadata/.plugins/org.eclipse.core.resources/0.snap
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Cubert/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1067844104.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1091915153.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1100034430.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1227900102.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/159265263.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1674197738.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1771911503.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1857899436.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1976318416.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/1985382377.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2245125605.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2260961567.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2307518581.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/239560080.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2402860540.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/262322381.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/2947788220.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3041506304.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/315585559.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3158068371.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3241466435.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3414388786.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3501601504.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3648534690.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3818029737.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3864195121.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/3952141166.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4009088449.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4112017558.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4232631194.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/4292095467.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/904440426.index
Cubert/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Cubert/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Cubert/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Cubert/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Cubert/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Cubert/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Cubert/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Cubert/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
Cubert/.metadata/.plugins/org.eclipse.rse.core/.log
Cubert/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Cubert/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/FP.local.files_0/node.properties
Cubert/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/H.local_16/node.properties
Cubert/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/node.properties
Cubert/.metadata/.plugins/org.eclipse.rse.ui/.log
Cubert/.metadata/.plugins/org.eclipse.team.cvs.core/.running
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
Cubert/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Cubert/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Cubert/.metadata/version.ini
Cubert/cubertNXT/.metadata/.lock
Cubert/cubertNXT/.metadata/.log
Cubert/cubertNXT/.metadata/.mylyn/repositories.xml.zip
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.cdt.core/.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/FP.local.files_0/node.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/H.local_16/node.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pingu_0/node.properties
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.rse.ui/.log
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Cubert/cubertNXT/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Cubert/cubertNXT/.metadata/version.ini
Cubert/cubertNXT/.settings/org.eclipse.jdt.core.prefs
Cubert/cubertNXT/bin/.gitignore
Cubert/cubertNXT/Main.nxd
Cubert/cubertNXT/Main.nxj
Cubert/cubertPC/.settings/org.eclipse.jdt.core.prefs
Cubert/cubertPC/bin/.gitignore
Cubert/RemoteSystemsTempFiles/.project
